:root {
	--white: #ede8dc;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: white;
	--sm: 14px;
	--gold: #B7825F;
	--brown: #693F23;
	--md: 16px;
	--lg: 18px;
}