* {
  /* box-sizing: border-box; */
  font-family: 'Quicksand', sans-serif;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  /* background-color: var(--hospital-green); */
}

.mymodal {
  height: 200px;
  width: 100px;
}

.carousel-caption {
  color: gray;
  font-weight: bold;
}
