@import 'vars';

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	position: sticky;
	top: 0;
	z-index: 20;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	// border-bottom: 1px solid var(--very-light-pink);
	background-color: var(--white);
}

.menu {
	display: none;
	position: absolute;
	z-index: 5;
}

.nav-logo {
	width: 100px;
}

.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}

.navbar-left {
	display: flex;
}

.navbar-left ul {
	margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--hospital-green);
	// border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
	font-weight: bold;

}

.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
	margin-right: 12px;
	font-weight: bold;
	cursor: pointer;
}

.navbar-shopping-cart {
	position: relative;
}

.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--hospital-green);
	border-radius: 50%;
	font-size: var(--sm);
	color: var(--white);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 640px) {
	.menu {
		display: block;
	}

	.navbar-left ul {
		display: none;
	}

	.navbar-email {
		display: none;
	}
}